/*
* Styling based on the Skeleton documention (http://www.getskeleton.com/)
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

// Theme Variables

$main-font: "Noto Serif", serif;
$code-font: "Inconsolata", monospace;

$social-icons: (
	"twitter" #55acee,
	"google-plus-square" #dd4b39,
	"github" #171515,
	"soundcloud" #f70,
	"instagram" #833ab4,
);


// Reset & Basics (Inspired by Eric Meyer)

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q {
	quotes: none;
	&:before, &:after { content: ''; content: none; } }
table { border-collapse: collapse; border-spacing: 0; }


// Typography

body {
	background: #fff;
	font-family: $main-font;
	font-size: 14px;
	line-height: 2;
	color: #222;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

article {
	p {
		margin: 0.75em 0;
	}

	p, ul, ol {
		font-size: 1.1em;

		a {
			text-decoration: underline dotted;
			text-underline-offset: 4px;
			font-weight: normal;
		}
	}
}

article > hr:not(:last-child) {
	background: transparent;
}

h1, h2, h3 { font-weight: bold; }

h1 > img, h2 > img, h3 > img {
	display: inline !important;
	vertical-align: middle;
}

h1 {
	font-size: 1.7em;
}

h2 {
	font-size: 1.4em;
	margin: 30px 0 10px
}

h3 {
	font-size: 1.2em;
	margin: 25px 0 10px;
}

em { font-style: italic; }
strong { font-weight: bold; }

blockquote {
	margin: 20px 0 20px 3px;
	padding: 1px 15px;
	border-left: 2px solid #ddd;

	p {
		color: #777;
		font-style: normal;
		margin: 3px 0;
	}

	cite {
		display: block;
		padding-top: 5px;
		font-size: 0.85em;
		color: #555;
		&:before { content: "\2014 \0020"; }
	}
}

hr {
	clear: both;
	border: none;
	height: 1px;
	background-color: #ebebeb;
	margin: 10px 5px;
}

a {
	color: #333;
	text-decoration: none;
	font-weight: bold;
	outline: 0;

	&:hover, &:focus {
		color: #000;
		text-decoration: underline;
	}

	&.icon {
		padding: 0 4px;
		font-size: 20px;
		color: #555;
		transition: color 0.25s ease;

		&:hover {
			text-decoration: none;
			color: #222;
			@each $icon, $colour in $social-icons {
				&.fa-#{$icon} { color: $colour; }
			}
		}
	}
}

ul, ol {
	margin: 0.75em 1.75em;

	ul, ol {
		margin-top: 0;
		margin-bottom: 0;
	}
}

ul { list-style: square outside; }
ol { list-style: decimal; }

table:not(.codehilitetable) {
	margin: 0 auto 2em;

	th, td {
		padding: 12px;
		border-bottom: 1px solid #e1e1e1;
	}

	thead th {
		padding-top: 0;
	}
}

abbr, acronym, .abbr {
	cursor: help;
	border-bottom: 1px dashed #444;
}

.footnote-ref {
	padding-left: 1px;
	font-size: .7em;
	line-height: 0.5em;
	vertical-align: baseline;
	position: relative;
	top: -0.7em;
}

code:not(pre code) {
	font-family: $code-font;
	color: #6e6b5e;
	background: #f5f5f5;
	padding: 0.1em 0.3em;
	border-radius: 3px;
}

.codehilitetable, .content > .codehilite {
	font-family: $code-font;
	overflow-x: auto;
	display: block;
	padding: 0.8em 0;
	margin-bottom: 1.5em;

	tbody tr { display: block; } // fixes line numbers on Firefox
}

.linenos {
	border-right: 1px solid #ccc;
	padding: 0 0.7em;
	width: 1.2em;
	text-align: right;
	position: absolute;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.code .codehilite {
	margin: 0 1em 0 3.5em;
}

.content > .codehilite {
	padding: 1em;
}

.admonition {
	background: #fafafa;
	margin: 20px 0;
	padding: 10px 25px;
	border: solid #ccc;
	border-width: 1px 0;

	p {
		margin: 1em 0;
	}
}

.admonition-title {
	@extend h2;
	margin: 12px 0;
}

div.math {
	overflow-x: scroll;
}


// Layout

$desktop: "only screen and (min-width: 960px)";
$handheld: "only screen and (max-width: 959px)";
$mobile: "only screen and (max-width: 767px)";

html, body {
	height: 100%;
}

.container {
	position: relative;
	width: 960px;
	margin: 0 auto;
	padding-top: 50px;
}

article img {
	max-width: 95%;
	margin: 0 auto;
	display: block;
}

footer p {
	margin: 12px 0;
	padding-bottom: 10px;
	text-align: center;
}

aside div {
	margin: 12px;
	text-align: center;
}

#avatar {
	margin: 10px auto;
	display: block;
	width: 180px;
	border-radius: 15px;
}

#name {
	font-size: 2em;
	line-height: 1.35;
	letter-spacing: -0.5px;
}

#bio {
	text-align: right;

	ul { list-style: square inside; }
	p, ::marker { font-size: 0.9em; }

	ul, p {
		margin: 0em 1em 1em 0;
	}
}

#sidebar-links {
	color: #aaa;
}

#sidebar-divider {
	display: none;  // only appears on mobile
}

.title {
	margin-bottom: 0;
}

.date {
	display: block;
	color: #555;
}

.title, .date {
	line-height: 1.25;
	padding-top: 10px;
}

.content {
	clear: both;
	hr { margin: 25px 10px; }
}

.summary p {
	margin-bottom: 6px;
}

#view-archives {
	overflow: auto;
	text-align: right;
}

#back-to-home, #related-articles {
	overflow: auto;
	margin-top: 3em;
}

#next-neighbour { float: left; }
#prev-neighbour { float: right; }


// Media Queries

@media #{$desktop} {
	aside, article, footer { margin: 0 20px; }

	aside {
		float: left;
		width: 230px;
		position: fixed;
	}

	article, footer {
		float: right;
		width: 680px;
	}
}

@media #{$handheld} {
	// On non-desktop displays, fix the width of the
	// sidebar, and centre it at the top of the page.
	.container {
		padding-top: 3px;
		width: 90%;
	}

	aside {
		max-width: 340px;
		margin: 0 auto;
		padding-top: 10px;
		vertical-align: middle;

		div { margin: 5px 0; }
	}

	#avatar { float: left; width: 130px; }
	#bio { font-size: 0.95em; line-height: 1.5;	}
	#social .icon { padding: 0 4px; }
	article { margin-top: 14px; }
}

@media #{$mobile} {
	.title, .date {
		text-align: center;
	}

	#sidebar-divider { display: block; }
}

@media only print {
	footer, aside, #disqus_thread, #related-articles, #back-to-home {
		display: none !important;
	}

	.container { width: 85%; }
	p a:after { content:" ["attr(href)"]"; }
	.linenos { border-right: none; }
}
