{% extends 'base.html' %}

{% block title %}{{ article.title | striptags }} | {{ SITENAME }}{% endblock %}
{% block description %}{{ article.summary | striptags }}{% endblock %}

{% block meta %}
	<!-- Twitter Cards and Open Graph -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:creator" content="{{ TWITTER_USERNAME }}">
	<meta name="twitter:domain" content="{{ DOMAIN }}">
	<meta name="twitter:site" content="{{ TWITTER_USERNAME }}">
	<meta property="og:title" content="{{ article.title|striptags }}">
	<meta property="og:description" content="{{ article.summary|striptags }}">
	<meta property="og:image" content="{{ SITEURL }}/{{ ICONS_PATH }}/avatar.png">
	<meta property="og:type" content="article">
	<meta property="og:url" content="{{ SITEURL }}/{{ article.url }}">
{% endblock %}

{% block content %}
	<h1 class="title"><a href="/{{ article.url }}" title="Permalink to {{ article.title | striptags }}">{{ article.title }}</a></h1>
	<time class="date" datetime="{{ article.date }}">
		{{ article.locale_date }}
		&nbsp;&VerticalBar;&nbsp;
		{% for tag in article.tags %}
		{% if loop.index > 1 %}&middot;{% endif %}
		<a href="/tag/{{tag}}.html">{{ tag }}</a>
		{% endfor %}
	</time>
	<div class="content">
		{{ article.content }}
	</div>

	{% if article.next_article or article.prev_article %}
	<div id="related-articles">
		{% if article.next_article %}
		<a href="/{{ article.next_article.url}}" id="next-neighbour">&laquo; {{ article.next_article.title | striptags }}</a>
		{% endif %}
		{% if article.prev_article %}
		<a href="/{{ article.prev_article.url}}" id="prev-neighbour">{{ article.prev_article.title | striptags }} &raquo;</a>
		{% endif %}
	</div>
	{% endif %}

	{% if DISQUS_SITENAME and article.status != "draft" %}
	<hr>

	<!-- Disqus -->
	<div id="disqus_thread"></div>
	<script>
	var disqus_config = function() {
		this.page.url = '{{ SITEURL }}/{{ article.url }}';
		this.page.identifier = '{{ article.url }}';
	};

	(function() {
		var d = document, s = d.createElement('script');
		s.src = '//{{ DISQUS_SITENAME }}.disqus.com/embed.js';
		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
	})();
	</script>
	{% endif %}
{% endblock %}
