<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Basic Metas -->
	<meta charset="utf-8">
	<title>{% block title %}{% endblock %}</title>
	<meta name="description" content="{% block description %}{% endblock %}">
	<meta name="author" content="{{ SITE_AUTHOR }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="alternate" type="application/atom+xml" href="/{{ FEED_ATOM }}" title="Atom Feed for polter.gitlab.io">

	{% block meta %}{% endblock %}

	<!-- Stylesheets and Web Fonts -->
	{% assets filters="scss, cssmin", output="style.min.css", "pneumatic.scss", "pygments.css" %}
	<link href="/{{ ASSET_URL }}" rel="stylesheet">
	{% endassets %}
	{% for font in GOOGLE_FONTS %}
	<link href="https://fonts.googleapis.com/css2?family={{ font | replace(' ', '+') }}" rel="stylesheet" type="text/css">
	{% endfor %}
	{% if SOCIAL_ICONS %}
	{% if FA_EMBED_CODE %}
	<link rel="stylesheet" href="https://use.fontawesome.com/{{ FA_EMBED_CODE }}.css">
	{% else %}
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	{% endif %}
	{% endif %}

	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="180x180" href="/{{ ICONS_PATH }}/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="/{{ ICONS_PATH }}/favicon-16x16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="/{{ ICONS_PATH }}/favicon-32x32.png" sizes="32x32">
	<meta name="theme-color" content="{{ THEME_COLOR }}">

	<!--[if lt IE 9]>
	<script src="/theme/js/html5shiv.min.js"></script>
	<script src="/theme/js/respond.min.js"></script>
	<![endif]-->

	{% if GOOGLE_ANALYTICS %}
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ GOOGLE_ANALYTICS }}"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', '{{ GOOGLE_ANALYTICS }}');
	</script>
	{% endif %}
</head>

<body>
	<div class="container">
		<aside>
			<a href="/"><img id="avatar" alt="Site Avatar" src="/{{ ICONS_PATH }}/avatar.png"></a>
			<div id="name"><a href="/">{{ SITENAME }}</a></div>
			<div id="bio">{{ BIO_TEXT }}</div>

			{% if SIDEBAR_LINKS %}
			<div id="sidebar-links">
				{{ SIDEBAR_LINKS | join("&nbsp;|&nbsp;") }}
			</div>
			{% endif %}

			{% if SOCIAL_ICONS %}
			<div id="social">
				{% for link, title, icon in SOCIAL_ICONS %}
				<a href="{{ link }}" title="{{ title }}" class="icon fa {{ icon }}" target="_blank"></a>
				{% endfor %}
			</div>
			{% endif %}

			<hr id="sidebar-divider">
		</aside>

		<article>
			{% block content %}{% endblock %}
			<hr>
		</article>

		<footer>
			<p>{{ FOOTER_TEXT }}</p>
		</footer>
	</div>

	{% if GAUGES_ID %}
	<!-- Gauges -->
	<script type="text/javascript">
		var _gauges = _gauges || [];
		(function() {
			var t   = document.createElement('script');
			t.type  = 'text/javascript';
			t.async = true;
			t.id    = 'gauges-tracker';
			t.setAttribute('data-site-id', '{{ GAUGES_ID }}');
			t.src = '//secure.gaug.es/track.js';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(t, s);
		})();
	</script>
	{% endif %}
</body>
</html>
