{% extends 'base.html' %}

{% block title %}{{ SITENAME }}{% endblock %}
{% block description %}{{ INDEX_DESCRIPTION }}{% endblock %}

{% block meta %}
	<!-- Open Graph -->
	<meta property="og:title" content="{{ SITENAME }}">
	<meta property="og:description" content="{{ INDEX_DESCRIPTION }}">
	<meta property="og:image" content="{{ SITEURL }}/{{ ICONS_PATH }}/avatar.png">
	<meta property="og:type" content="website">
	<meta property="og:url" content="{{ SITEURL }}">
{% endblock %}

{% block content %}
	{% for article in articles[:4] %}
		<h1 class="title"><a href="/{{ article.url }}" title="{{ article.title | striptags }}">{{ article.title }}</a></h1>
		<time class="date" datetime="{{ article.date }}">
			{{ article.locale_date }}
			&nbsp;&VerticalBar;&nbsp;
			{% for tag in article.tags %}
			{% if loop.index > 1 %}&middot;{% endif %}
			<a href="/tag/{{tag}}.html">{{ tag }}</a>
			{% endfor %}
		</time>
		<div class="content summary">
			<p>{{ article.summary | striptags | replace(' …', ' ...') | replace(' ...', '&nbsp;&#8230;') }}</p>
		</div>
		{% if not loop.last %}<hr>{% endif %}
	{% endfor %}
	<div id="view-archives"><a href="/archive/">Older Posts &raquo;</a></div>
{% endblock %}
